@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto Mono", monospace;
  background: black;
  color: white;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  position: absolute;
  left: 0;
  top: 0;
}

.wrapper > canvas {
  position: absolute;
}

h1 {
  font-size: 4rem;
}

img {
  margin: 30px;
  width: 60vw;
  height: 60vh;
  z-index: 10;
}

.timer {
  display: flex;
  width: 70vw;
  justify-content: space-around;
  z-index: 10;
}

.timer > div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#seconds {
  color: #f24e01;
}
#months {
  color: #f88d51;
}

/* #wrapperId {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
} */
